# Generador de números pseudoaleatorios por el método de cuadrados medios

Primero se define la función del método de cuadrados medios, donde de un número de ocho dígitos se toman los cuatro números de en medio, se eleva al cuadrado, se realiza el cociente entre cien y al resultado se le aplica la operación módulo con el número diez mil.
$$a_{n}=\lfloor{a_{n-1}^2} /100\rfloor \text{mod} \hspace{0.1cm} 10000$$

La función será definida de manera recursiva y los parámetros que va a tomar será un "n" entero que es el número de pasos en la sucesión de números pseudoaleatorios y un "s" que es la semilla, un número entero de cuatro dígitos.

In [ ]:
from math import *

def mid(n,seed):
	if n==0:
		return seed
	if n>0:
		return ((mid(n-1,seed)**2)//100)%10000

Para probar que el código funciona se tomará como ejemplo la semilla $a_0=2332$ y que el programa nos imprima en pantalla 50 números.

In [ ]:
for i in range(50):
  print(mid(i,2332))

2332
4382
2019
763
5821
8840
1456
1199
4376
1493
2290
2441
9584
8530
7609
8968
4250
625
3906
2568
5946
3549
5954
4501
2590
7081
1405
9740
8676
2729
4474
166
275
756
5715
6612
7185
6242
9625
6406
368
1354
8333
4388
2545
4770
7529
6858
321
1030

También podemos imprimir en pantalla la posición y el número.
Se va a ejecutar de nuevo el código, pero ahora va a imprimir 100 números.

In [ ]:
for j in range(100):
	print(j,mid(j,2332))

0 2332
1 4382
2 2019
3 763
4 5821
5 8840
6 1456
7 1199
8 4376
9 1493
10 2290
11 2441
12 9584
13 8530
14 7609
15 8968
16 4250
17 625
18 3906
19 2568
20 5946
21 3549
22 5954
23 4501
24 2590
25 7081
26 1405
27 9740
28 8676
29 2729
30 4474
31 166
32 275
33 756
34 5715
35 6612
36 7185
37 6242
38 9625
39 6406
40 368
41 1354
42 8333
43 4388
44 2545
45 4770
46 7529
47 6858
48 321
49 1030
50 609
51 3708
52 7492
53 1300
54 6900
55 6100
56 2100
57 4100
58 8100
59 6100
60 2100
61 4100
62 8100
63 6100
64 2100
65 4100
66 8100
67 6100
68 2100
69 4100
70 8100
71 6100
72 2100
73 4100
74 8100
75 6100
76 2100
77 4100
78 8100
79 6100
80 2100
81 4100
82 8100
83 6100
84 2100
85 4100
86 8100
87 6100
88 2100
89 4100
90 8100
91 6100
92 2100
93 4100
94 8100
95 6100
96 2100
97 4100
98 8100
99 6100

A partir de la posición 59 los números se repiten.
Ahora se va a crear una función que agregue los números que va generando la semilla en una lista y la función va a tener como parámetro un número entero de cuatro dígitos que en este caso va a ser la semilla, la función tendrá el nombre de periodo y solo va a regresar la lista con los números ya generados.

In [ ]:
def periodo(seed):

	lista = []

	for i in range(10): # agrega 10 numeros a la lista

		lista.append(mid(i,seed))

	return lista

Ejecutamos el código.

In [ ]:
print(periodo(2332))

[2332, 4382, 2019, 763, 5821, 8840, 1456, 1199, 4376, 1493]

Podemos reescribir la función para que en vez de agregar 10 números agregue más, por ejemplo que agregue 100 números, se reescribe el código y se ejecuta.

In [ ]:
def periodo(seed):

	lista = []

	for i in range(100): # agrega 100 numeros a la lista

		lista.append(mid(i,seed))

	return lista

print(periodo(2332))

[2332, 4382, 2019, 763, 5821, 8840, 1456, 1199, 4376, 1493, 2290, 2441, 9584, 8530, 7609, 8968, 4250, 625, 3906, 2568, 5946, 3549, 5954, 4501, 2590, 7081, 1405, 9740, 8676, 2729, 4474, 166, 275, 756, 5715, 6612, 7185, 6242, 9625, 6406, 368, 1354, 8333, 4388, 2545, 4770, 7529, 6858, 321, 1030, 609, 3708, 7492, 1300, 6900, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100, 2100, 4100, 8100, 6100]

Pero ahora queremos que solamente la función regrese una lista con los números que aparecen una única vez, sin tener números repetidos.
Se sabe que la función set() convierte una lista en un conjunto y este conjunto guarda elementos sin repeticiones, o sea, el conjunto no tendrá elementos repetidos.
Se reescribe la función y se ejecuta el código.

In [ ]:
def periodo(seed):

	lista = []

	for i in range(100): #Genera 100 numeros

		lista.append(mid(i,seed))

	return set(lista)

print(periodo(2332))

{4100, 6406, 1030, 8840, 2441, 8968, 2568, 9740, 8333, 7185, 275, 1300, 4501, 4376, 9625, 4250, 2332, 4382, 2590, 4770, 4388, 8100, 166, 7081, 2729, 1199, 1456, 2100, 7609, 5946, 5821, 321, 3906, 5954, 7492, 1354, 6858, 8530, 5715, 6612, 1493, 6100, 3549, 609, 6242, 2019, 8676, 7529, 9584, 625, 2290, 368, 756, 2545, 6900, 4474, 763, 3708, 1405}

Teniendo este conjunto se puede saber el número de elementos que contiene usando la función len(), reescribiendo la función, ahora, va a regresar el número de elementos del conjunto. Se ejecuta el código.

In [ ]:
from math import *

def periodo(seed):

	lista = []

	for i in range(100):

		lista.append(mid(i,seed))

	return len(set(lista))


print(periodo(2332))

59

Ya teniendo la función escrita así se puede crear un for donde solamente imprima las semillas que tienen conjuntos de 2 elementos, en este caso lo que se va a iterar son todas las semillas de cuatro dígitos o sea desde la semilla 1000 hasta la 9999.

In [ ]:
from math import *

def periodo(seed):

	lista = []

	for i in range(10):

		lista.append(mid(i,seed))

	return len(set(lista))

print('Semilla Periodo')
for j in range(1000,10000):
	if periodo(j)==2:
		print(j,periodo(j))

Semilla Periodo
1000 2
1005 2
1500 2
2000 2
2400 2
2600 2
3000 2
3500 2
3743 2
4000 2
4500 2
4717 2
4900 2
5000 2
5001 2
5100 2
5500 2
6000 2
6245 2
6500 2
7000 2
7400 2
7500 2
8000 2
8500 2
9000 2
9500 2
9900 2

Con este código se puede saber las semillas que tienen un conjunto de 2 elementos o un periodo inmediato con respecto al método cuadrados medios. Para ello también se va a incluir en el código que imprima las semillas que tienen un periodo de longitud igual a 1.

In [ ]:
from math import *

def periodo(seed):

	lista = []

	for i in range(10):

		lista.append(mid(i,seed))

	return len(set(lista))

print('Semilla Periodo')
for j in range(1000,10000):
	if periodo(j)==2 or periodo(j)==1:
		print(j,periodo(j))

Semilla Periodo
1000 2
1005 2
1500 2
2000 2
2400 2
2500 1
2600 2
3000 2
3500 2
3743 2
3792 1
4000 2
4500 2
4717 2
4900 2
5000 2
5001 2
5100 2
5500 2
6000 2
6245 2
6500 2
7000 2
7400 2
7500 2
7600 1
8000 2
8500 2
9000 2
9500 2
9900 2